@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media screen and (min-width: 992px) {
        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            display: none;
        }

        ::-webkit-scrollbar-thumb {
            background: #8995a7;
            border-radius: 100px;
        }

        ::-webkit-scrollbar-track {
            background: #e8ecf1;
            border-radius: 100px;
        }
    }

    :root {
        --nprogress-color: #10EDC5;
        --nprogress-height: 4px;
    }

    html {
        scroll-behavior: smooth;
    }

    #nprogress {
        pointer-events: none;
    }

    #nprogress .bar {
        background: var(--nprogress-color);
        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--nprogress-height);
    }

    #nprogress .peg {
        display: block;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px var(--nprogress-color), 0 0 5px var(--nprogress-color);
        opacity: 1.0;
        transform: rotate(3deg) translate(0px, -4px);
    }

    #nprogress .spinner {
        display: block;
        position: fixed;
        z-index: 1031;
        top: 15px;
        left: 15px;
    }

    #nprogress .spinner-icon {
        width: 18px;
        height: 18px;
        box-sizing: border-box;
        border: solid 2px transparent;
        border-top-color: var(--nprogress-color);
        border-left-color: var(--nprogress-color);
        border-radius: 50%;
        animation: nprogress-spinner 400ms linear infinite;
    }

    .nprogress-custom-parent {
        overflow: hidden;
        position: relative;
    }

    .nprogress-custom-parent #nprogress .spinner,
    .nprogress-custom-parent #nprogress .bar {
        position: absolute;
    }

    @keyframes nprogress-spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.swiper {
    height: calc(100vh - 100px);
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}